<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-4 col-xs-offset-0">
    <div class="text-center" style="font-size: 4em;">
      <span class="glyphicon glyphicon-arrow-left"></span>
      <span class="glyphicon glyphicon-road"></span>
      <span class="glyphicon glyphicon-arrow-right"></span>
    </div>
    <h2 class="text-center">Drives on which side?</h2>
    <form ng-submit="submit()">
      <div class="form-group">
        <label class="sr-only" for="countryInput">Country</label>
        <input type="text" class="form-control" id="countryInput" placeholder="Country" ng-model="country" />
        <div class="btn-group-vertical btn-block" role="group">
          <a class="btn btn-default" style="text-align: left"
             ng-show="country != ''"
             ng-repeat="name in countryNames|filter:country"
             href="#/{{ name }}">{{ name }}</a>
        </div>
      </div>
    </form>
  </div>
</div>
